/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Layout Styles */
.container {
  width: 80%;
  margin: 0 auto;
}

#content-wrapper {
  display: flex;
  gap: 20px;
  padding: 20px 0;
}

#sidebar {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#sidebar-content {
  margin-top: 20px;
}

.category-link {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s;
}

.category-link:hover {
  background-color: #0056b3;
}

#main-content {
  flex: 1;
}

#detail-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}
